{% extends 'base.html' %}
	{% block title %}Application Form{% endblock %}
	{% block content %}
		<h1>Application Form</h1>
		<div>
			<p> Please fill out all of the fields to apply for the position of your choice.</p>
		</div>
		<br>
		<form action='/application' method='post'>
					<label>First name:
				<input type='text' name='firstname'>
			</label>
			<label>Last name:
				<input id='lastname' type='text' name='lastname'>
			</label>
			<br>
			<label>Salary requirement
				<input type='number' name='salary'>
			</label>
			<br>
			<label>Select a job to apply for:
				<select name='jobtype'>
					<option value='Software Engineer'>Software Engineer</option>
					<option value='QA Engineer'>QA Engineer</option>
					<option value-'Product Manager'>Product Manager</option>
				</select>
			</label>
			<br>
			<br>
			<input type='submit'>
		</form>
	{% endblock %}